<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetOffWorkCountdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <GetOffWorkCountdown.Properties.Settings>
            <setting name="OffHour" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="OffMinute" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OnHour" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="OnMinute" serializeAs="String">
                <value>0</value>
            </setting>
        </GetOffWorkCountdown.Properties.Settings>
    </applicationSettings>
</configuration>